@import "./font.css";
@import "./typography.css";


body{
  color: #fff;
  background: #171636;
  margin: 3rem 2.5rem 8rem;
}

ul{
  list-style-type: none;
  padding: 0;
}

ul.apps{
  margin-top: 3.438rem;
  margin-bottom: 5rem;
}

ul.apps li div,  ul#social li, .bullet{
  display: inline-block;
}

li.app-item{
  margin-top: 3.125rem;
  display: flex;
}

li.app-item div{
  margin: 1rem;
  margin-top: 0;
  max-width: 10rem;
}

h5{
  margin: 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#mark{
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
  margin: 1.5rem 0;
}

a{
  color: #fff;
  text-decoration: none;
}

ul#social a{
  text-decoration: underline;
}
.desktop{
  display: none;
}

.bullet{
  margin-left: .5rem;
  margin-right: .5rem;
}

/* large screen  */
@media (min-width: 768px) {
  .bullet{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  body{
    margin: 6rem 8rem 0 8rem;
  }

  ul.apps{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  li.app-item{
    margin-top: 0;
    margin-right: 2rem;
    display: inline-flex;
  }

  .desktop{
    display: block;
  }

  .mobile{
    display: none;
  }
  .bullet{
    display: inline;
  }
}

div#app-store-wrapper{
  align-items: center;
  display: flex;
  margin: 0;
  margin-top: 1rem;
}
.app-store-icon{
  height: 30px;
  margin-left: 1rem;
  margin-right: 1rem;
}
