@import "./font.css";
@import "./typography.css";


body{
  color: #fff;
  background: #171636;
  margin: 9rem 8rem 0 8rem; 
}


ul{
  list-style-type: none;
  padding: 0;
}

ul.apps{
  margin-top: 5rem; 
}

ul.apps li div{
  display: inline-block;
}

li.app-item{
  margin-right: 2rem; 
  display: inline-flex;
}

li.app-item div{
  margin: 1rem; 
  max-width: 10rem; 
}

h5{
  margin: 0;
}

#mark{
  width: 10px;
  height: 10px; 
  background: #fff; 
  border-radius: 5px;
  margin: 1.5rem 0; 
}

a{
  color: #fff; 
  text-decoration: none; 
}