.genau-studio {
    font-family: "SFProDisplay-Bold";
    font-size: 0.875rem;
    color: var(--white-two);
}

.apps h5{
    font-family: "SFProDisplay-Bold";
    font-size: 0.938rem;
    line-height: 1.93;
    letter-spacing: 0.6px;
}

.apps span{
    opacity: 0.6;
    font-family: "SFProDisplay-Light";
    font-size: 0.813rem;
    line-height: 1.31;
    letter-spacing: 0.52px;
    color: #fff;
}

h1{
    font-family: "SFProDisplay-Heavy";
    line-height: 1.15;
    letter-spacing: 0.62px;
    color: #fff;
    font-size: 2.5rem
}

h1.page{
    color: black;
    max-width: 600px;
}
p#contact, a{
    font-family: "SFProDisplay-Light";
    font-size: 1.125rem;
    line-height: 1.61;
    letter-spacing: 0.72px;
}

.email{
    font-family: "SFProDisplay-Bold";
    font-size: 1.125rem;
    line-height: 1.61;
    letter-spacing: 0.8px;
}

.measure{
    max-width: 600px;
    font-family: "SFProDisplay-Light";
    font-size: 1.125rem;
    line-height: 1.61;
    letter-spacing: 0.8px;
}

footer{
    font-family:  "SFProDisplay-Bold";
    font-size: 15px;
    line-height: 1.93;
    letter-spacing: 0.6px;
}

@media (min-width: 768px) {
    .genau-studio {
        font-size: 1.1875rem
    }
    h1{
        font-size: 4.875rem;
        line-height: 1.01;
        letter-spacing: 1.21;
    }
    p#contact, a{
        font-size: 1.25rem;
        line-height: 1.45;
        letter-spacing: 0.8px;
    }
}
